/* ==========================================================================
   Structures - Button
   ========================================================================== */

/* General
   ========================================================================== */

.kmcc-btn {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px !important; // Important to not have buttons too large so to-top-button doesn't overlap 
    padding-right: 15px !important; // Important to not have buttons too large so to-top-button doesn't overlap
    width: auto !important; // Important to not have buttons too large so to-top-button doesn't overlap 
    max-width: none !important; // Important to not have buttons too large so to-top-button doesn't overlap  

    background-color: $kmcc_button-background;
    color: $kmcc_button-color !important;

    border-radius: 25px;
    border: 2px solid $kmcc_button-border-color--hover;

    font: {
        size: 15px;
        weight: 400;
    }

    text-transform: uppercase;
    text-decoration: none;
    text-align: center;

    outline: 0;

    transition: all .2s ease;

    &:hover {
        background: $kmcc_button-background--hover;

        color: $kmcc_button-color--hover !important;

        text-decoration: none !important;
    }

    &--spaced {
        margin-bottom: 20px;
    }
}
