<a href="#" id="kmcc-close-detail" class="kmcc-btn-close-detail">
    <svg class="icon icon--chevron--down kmcc-btn-close-detail__icon">
        <use xlink:href="/frontend/img/legal/svg/symbol-defs.svg#icon--chevron--down"></use>
    </svg>
    <span class="kmcc-btn-close-detail__text">
        {{ 'kuma.cookie.sidebar.back' | trans | raw }}
    </span>
</a>