<div id="{{ key }}-panel" class="kmcc-tabs__panel{% if key == node.internalName %} active{% endif %}">
    {% include bundle~':Pages:LegalPage/_content.html.twig' with {'page': pageToRender} %}
</div>